    @model Bootcamp
    <div class="container pb-3 mt-3">
            <div class="card mb-3" id="@Model.Id">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/img/@Model.Image" class="img-fluid rounded-start" alt="">
                    </div>
                    <div class="col-md-8">
                        <a asp-controller="Bootcamp" asp-action="Details" asp-route-id="@Model.Id">
                        <h5 class="card-title">@Model.Title</h5>
                        </a>
                        <p class="catd-text">@Model.Description</p>
                    </div>
                </div>
            </div>
     </div>