@model ProductViewModel
<div class="row container">
        <form asp-controller="Home" asp-action="Index" method="get">
            <div class="row">
                <div class="col-md-5">
                    <select name="category" class="form-select" 
                    asp-items="@(new SelectList(Model.Categories, "CategoryId","Name",Model.SelectedCategory))">
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-success">Filtrele</button>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                    <input type="search" name="searchString" class="form-control" placeholder="Ürün adı ile ara">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">Ara</button>
                    </div>
                </div>
                </div>

            </div>
        </form>
   @foreach(var prd in Model.Products){
    <div class="col-lg-3 col-md-4 col-sm-6 mb-3 mt-3">
    <div class="card" style="width: 18rem;">
  <img src="~/img/@prd.Image" class="card-img-top img-fluid" style="max-height: 200px; object-fit: contain" alt="...">
  <div class="card-body">
    <h5 class="card-title">@prd.Name</h5>
    <p class="card-text">@prd.Price</p>
    <a href="#" class="btn btn-primary">Detay</a>
  </div>
</div>
</div>
   }
   </div>